<div id="footer">
	<div class="container">
		<div class="centered clearfix"></div>
		<div class="bottom-bar">
			Copyright &copy; CricChat <a href="https://www.facebook.com/"> <i
				style="font-size: 24px" class="fa">&#xf082; </i>
			</a> <a href="https://twitter.com/login"> <i style="font-size: 24px"
				class="fa">&#xf099;</i></a> <a href="https://plus.google.com/"> <i
				style="font-size: 24px" class="fa">&#xf0d5;</i>
			</a> All Rights Reserved © 2018 | <a href="${contextRoot}/aboutUs">About
				Us</a> | <a href="${contextRoot}/contactUs">Contact US</a>
		</div>
	</div>
</div>