<div class="container" ng-controller="JobController"
	class="table-responsive">
	<br /> <font color="white" face="san serif ms">
		<h1>Welcome to {{singleJobData.company}}</h1> <br />

		<form id="jobform" method="post">
			<h3>List of Jobs</h3>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>JobID</th>
						<th>Company</th>
						<th>Job Designation</th>
						<th>Job Description</th>
						<th>Location</th>
						<th>Salary</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<!-- ng-repeat="job in singleJobData" -->
						<td>{{singleJobData.jobId}}</td>
						<td>{{singleJobData.company}}</td>
						<td>{{singleJobData.jobDesignation}}</td>
						<td>{{singleJobData.jobDescription}}</td>
						<td>{{singleJobData.location}}</td>
						<td>{{singleJobData.salary}}</td>

					</tr>
				</tbody>
			</table>
		</form>
		<div align="center">
			<div class="card"
				style="width: 600px; min-height: 630px; padding: 0px; border: 1px solid black;">
				<h4 style="background-color: powderblue; padding: 10px;"
					align="center" class="card-title">
					<b>Job Application Form</b>
				</h4>
				<br>

				<div style="text-align: left;" class="card-body">
					<form>

						<div style="text-align: center;" class="form-group">
							<H1>Are You Sure To Apply For The Job</H1>
							<button type="button" ng-click="applyJobs()"
								class="btn btn-lg btn-primary">Apply</button>
						</div>
					</form>

				</div>
			</div>
		</div>
</div>