
<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Update Jobs</title>
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
	rel="stylesheet">
<script src="../js/MyRouteConfig.js"></script>
<script src="../C_forum/ForumController.js"></script>
<script src="../js/jquery.min.js"></script>
<style>
.btn {
	background-color: DodgerBlue;
	border: none;
	color: white;
	padding: 12px 16px;
	font-size: 16px;
	cursor: pointer;
}

/* Darker background on mouse-over */
.btn:hover {
	background-color: Black;
}

body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	color: #222;
	font-family: COTILLIO, sans-serif;
	font-weight: 300;
}

#forum-box {
	position: relative;
	margin: 5% auto;
	width: 1200px;
	height: 900px;
	border-radius: 2px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}
</style>
</head>

<body ng-app="myApp">
	<font color="white" face="verdana">
		<div id="forum-box" class="row" ng-controller="JobController">
			<div>
				<font color="white" face="Edwardian Script ITC">
					<h1 class="text-center">Update Job</h1>
				</font>
			</div>
			<form class="col-md-12 center-block" id="jobForm" method="POST">
				<div class="form-group">
					<textarea class="form-control input-lg" rows="3" name="Company"
						placeholder="Company Name" ng-model="job.company"></textarea>
				</div>
				<div class="form-group">
					<input type="text" class="form-control input-lg"
						name="jobDesignation" placeholder="Job Designation"
						ng-model="job.jobDesignation" /><font face="Forte"></font>
				</div>
				<div class="form-group">
					<textarea class="form-control input-lg" rows="3"
						name="JobDescription" placeholder="job Description content"
						ng-model="job.jobDescription"></textarea>
				</div>
				<div class="form-group">
					<textarea class="form-control input-lg" rows="3" name="Salary"
						placeholder="Salary" ng-model="job.salary"></textarea>

					<div class="form-group">
						<textarea class="form-control input-lg" rows="3"
							name="lastDateToApply" placeholder="Last Date To Apply"
							ng-model="job.lastDateToApply"></textarea>
					</div>

					<div class="form-group">
						<textarea class="form-control input-lg" rows="3" name="location"
							placeholder="Location" ng-model="job.location"></textarea>
					</div>
				</div>
				<div class=form-group>
					<input type="submit" class="btn btn-lg btn-primary"
						value="Update Job" ng-click="editJob(job.jobId)"> <input
						type="reset" class="btn btn-lg btn-default" value="Reset">
				</div>
			</form>
			<form id="jobform" method="post">
				<h3>List of Jobs</h3>
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>Company</th>
							<th>Job Designation</th>
							<th>Job Description</th>
							<th>Salary</th>
							<th>Last Date To Apply</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="job in jobData">

							<td>{{job.company}}</td>
							<td>{{job.jobDesignation}}</td>
							<td>{{job.jobDescription}}</td>
							<td>{{job.salary}}</td>
							<td>{{job.lastDateToApply | date:"dd/MM/yyyy"}}</td>
							<td><button class="btn btn-primary"
									ng-click="editJob(job.jobId)">
									<i class="fa fa-edit"></i>
								</button>
								
								<button class="btn" value="DELETE Job"
									ng-click="deleteJob(job.jobId)">
									<i class="fa fa-trash"></i>
								</button></td>

						</tr>
					</tbody>
				</table>
			</form>
			<!-- <div class="jumbotron">
				<h2></h2>
			</div> -->
		</div>
	</font>
</body>
</html>