
<div class="container" ng-controller="BlogController"
	class="table-responsive" data-ng-init="fetchAllBlogs()">

	<br /> <font color="white" face="san serif ms">
		<h1>List of All Blogs</h1> <br />

	</font> <font color="#0000A0" face="san serif ms">

		<div class="list-group">

			<div class="list-group-item" ng-repeat="blog in blogData">

				<h3 class="list-group-item-heading" style="color: #0000A0">

					{{blog.blogName}}</h3>

				<p class="list-group-item-text">{{blog.blogContent}}</p>
				<div align="right">
					<button class="btn btn-info" ng-click="editBlog(blog.blogId)">
						<i class="fa fa-edit"></i>
					</button>
					<button class="btn" ng-show="currentUser.role=='ROLE_ADMIN'"
						ng-click="deleteBlog(blog.blogId)">
						<i class="fa fa-trash"></i>
					</button>
				</div>

				<br /> <i class="fa fa-calendar"></i> <span style="color: #0000FF">Created
					On : </span>{{blog.createdDate| date:"dd/MM/yyyy"}} <br /> {{blog.likes}}
				<span style="color: #0000FF">likes</span><br />

				<button class="btn btn-right" ng-click="viewBlog(blog.blogId)">
					View Blog</button>



			</div>

		</div>
	</font>
</div>
