<div class="row">
<div class="col m12">
	<div class="card-panel grey lighten-4">
		<div class="center-align">
            <p class="loginHeadergrey">My Friends ({{friendCtrl.myFriendsCount}})</p>
        </div>

				<!-- Search method -->
				<div class="row">
				    <form class="col s12">
				    
				      <div class="row">
				        <div class="input-field col s6">
				          <input id="first_name" type="text" class="validate" ng-model="search2.fname">
				          <label for="first_name">Search First Name</label>
				        </div>
				        <div class="input-field col s6">
				          <input id="last_name" type="text" class="validate" ng-model="search2.lname">
				          <label for="last_name">Search Last Name</label>
				        </div>
				      </div>
				     </form>
				 </div>
				
		  	
		  			<div ng-if="friendCtrl.myFriendsCount < 1">
		  	 			<p>You don't have any friends.</p>
		  	 			<a href="#/friend/notFrndlist" class="btn orange darken-4">Find new friends here</a>
		  	 		</div>
		  	
		  	   <table class="bordered highlight grey lighten-3">
		        <tbody>
		          <tr ng-repeat="singleUser in friendCtrl.myAccFriendlist | filter : search2">
		            <td class="col s6 m3"><img ng-src="assets/images/{{singleUser.profile}}" height="150px" /></td>
		            <td class="col s6 m9">
						<p class="frlistname"><a href="#/frprofile/{{singleUser.userid}}">{{singleUser.fname}} {{singleUser.lname}}</a></p>
					  	<p class="frliststatus"><span class="frlisthead">Status :</span> {{singleUser.status}}</p>
					</td>
		            
		          </tr>
		          
		        </tbody>
		      </table>
		  	
		  
	</div>
</div>
</div>